<!DOCTYPE html>
<html>
<head>
  <title>TaskTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%if !current_user.nil? %>
    <nav class="top-bar" data-topbar role="navigation">
          <section class="top-bar-section">

            <!-- Right Nav Section -->
            <ul class="left">
              <li class="has-dropdown">
                <%= link_to "Проекты", root_path  %>
                <ul class="dropdown">
                      <% current_user.available_projects.each do |project| %>
                      <li><%= link_to project.name, project_path(project) %></li>
                      <%end  %>
                </ul>
              </li>
            </ul>
        <% if current_user.admin? %>
            <ul class="left">
              <li><%= link_to "Админка", admin_root_path %></li>
            </ul>
        <%end %>
          </section>
    </nav>
    <%end %>

    <% if !notice.blank? %>
        <div data-alert class="alert-box"><%= notice %></div>
    <% end %>
    <% if !alert.blank? %>
        <div data-alert class="alert-box warning "><%= alert %></div></p>
    <% end %>
    <div id="container">
        <%= yield %>
    </div>
</body>
</html>
